.contacts__list {
  padding: 0;
}

.contacts__item {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding-left: 5px;

  border: 1px solid rgb(247, 127, 83);
}

.contacts__item:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__name {
  width: 200px;
}

.delete__btn {
  background-color: rgb(68, 65, 65);
  color: rgb(168, 166, 166);
  outline: 1px solid rgb(247, 127, 83);
  cursor: pointer;
}

.delete__btn:hover,
.delete__btn:focus {
  color: rgb(247, 127, 83);
  background-color: black;
}
